.title {
  background-color: #11b981;
  padding: 1rem;
  border-radius: 20px;
  inline-size: fit-content;
  margin: 1rem;
}

main {
  inline-size: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin-block-start: 1rem;
  }
}

.total_container {
  display: flex;
  flex-direction: column;
  inline-size: 90vw;
  background-color: #f3f4f6f1;
  border: 0.25rem solid #bcbec2;
  border-radius: 15px;
  padding: 2rem;
}

.total_title {
  color: #888d99;
}

.total_value {
  color: black;
  font-size: 3rem;
}

.total_subtitle {
  color: #888d99;
}

.chart_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 90vw;
  min-block-size: 20rem;
  background-color: #f3f4f6f1;
  border: 0.25rem dotted #bcbec2;
  border-radius: 15px;
  padding: 2rem;
}

.button {
  background-color: #11b981;
  min-inline-size: 50%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
